body {
font-family: Arial;
background-color: #F8A434;
padding: 50px;
text-align: center;
}

.header {
color:white;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 0.03em;
margin: 25px 50px 25px 100px;
font-weight: bold;
}