<html>
  <head>
    <meta charset="utf-8">
    <title>Free Pics Image Scrapper</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <form action="/searchImages" method="POST" name="sign up for beta form">
      <div class="header">
         <p>Free Pics Image Scrapper</p>
      </div>
      <div class="description">
        <p>Image Scrapper is ready. If you're interested in testing it out, then type below to get exclusive images.</p>
      </div>
      <div class="input">
        <input type="text" class="button" id="keyword" name="keyword" placeholder="Type keyword here ..." required>
        <input type="submit" class="button" id="submit" value="SEARCH">
      </div>
    </form>
  </body>
</html>